        
        #jhkjh{            	background:cyan;            	border:1px solid red;            	-moz-border-radius:10px;            	width:200px;            	height:200px;            
        }        
        