  
    
    <base: methods="head" />
    
	<base: methods="login" />
     	<div id="menu_super">
	        <a href="#">Quem somos</a>
	        <a href="#">Politica de Privacidade</a>
	        <a href="#">Como Chegar</a>
	        <a href="#">Contato</a>
	    </div>
	    
	    
	    <div id="quadro_aviso" style="display: none;">
	        <span class="fechar" title="fechar">X</span>
	    </div>
	    <div id="aviso_ajax" >
	        
	    </div>
        <div id="main">    
        <div id="faixa">
            <!--<div id="logo"></div>-->
            <img  id="logo" src="images/logo.png" />
        
            <div id="logo_teste"></div>
            
            <div id="menu">
                <base: methods="listaPages"></base:> 
            </div>
        </div>
    
    
        
        
        <div id="linha_super"></div>
        
        <div id="center">
            <div id="menu_vert"></div>
        
            <div id="content">
                <p>ahsdkjh
                
                </p>
                <p id="teste"></p>
                
                
            </div>
        
        </div>
        
       
        
        
        <div id="linha_super"></div>
        
        
        
        <div id="foot">
                <a href="#">Item 1</a>
                <a href="#">Item 1</a>
                <a href="#">Item 1</a>
                <a href="#">Item 1</a>
        
        </div>
        
       
        
        
        
         
         
        <form method="post" action="teste_ajax.php">
            <input type="text" name="s" />
        </form>
        
        <p id="result"></p>
        
        
    </div>